.container {
  height: 100vh;
}

.content {
  margin-top: 200px;
  align-items: center;
  text-align: center;
  width: 50%;

  h1 {
    font-size: 48px;
    margin-bottom: 40px
  }
  p {
    font-family: $body;
  }
}
