// Specific CSS for your home-page
h1 {
  font-family: $felt;
}

.email {
  margin-top: -20px;
  text-align: right;
  font-family: $felt;
  font-size: 200px;
  color: black;
  line-height: 1;
}

.menu {
  height: 100vh;
}

.dropdown-menu {
  text-align: center;
  vertical-align: middle;
  background: rgba(231, 232, 227, 0.7);
  padding-top: 32px;
  height: 255px;
  width: 255px;
  border-radius: 50%;
  border: 0;
  a {
    font-family: $felt;
    font-size: 40px;
    transition: 0.3s;
    color: black;
    &:hover {
      color: $green;
      font-weight: 600;
      transition: 0.4s;
    }
  }
}

.dropdown-item {
  background: transparent;
  margin-bottom: -8px;
  &:hover {
    background: transparent;
  }
}

.home-background {
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center center;
}
