.heading-center {
  margin-top: -128px;
  margin-bottom: 80px;
  font-size: 56px;
}


.cocktail {
  position: relative;
  transition: 0.3s;
  .hidden-text {
    display: none;
    font-size: 14px;
    font-family: $body;
    position: absolute;
    top: 185px;
    left: -32px;
    color: black;
    bottom: -40px;
  }
  .title {
    font-size: 30px;
    font-family: $felt;
    position: absolute;
    top: 14px;
    left: 56px;
    color: black;
  }
  .number {
    position: absolute;
    font-size: 24px;
    font-family: $felt;
    top: -2px;
    left: -24px;
  }
  &:hover {
    transition: 0.3s;
    .card {
      transform: scale(1.1);
    }
    .hidden-text {
      display: block;
    }
  }
}

.superhero {
  margin-top: 200px;
  position: relative;
  transition: 0.3s;
  background: transparent;
  border: 0;
  .hidden-text {
    display: none;
    font-size: 14px;
    font-family: $body;
    position: absolute;
    color: black;
    bottom: -10px;
    left: 36px;
  }
  .title {
    font-size: 30px;
    font-family: $felt;
    position: absolute;
    color: black;
    bottom: 68px;
    left: 36px;
    display: block;
  }
  .number {
    font-size: 24px;
    font-family: $felt;
    position: absolute;
    top: 93px;
    right: 36px;
  }
  &:hover {
    transition: 0.3s;
    .card {
      transform: scale(1.1);
    }
    .hidden-text {
      display: block;
    }
  }
}

.ts {
  margin-top: 200px;
  margin-left: 20px;
  position: relative;
  transition: 0.3s;
  .hidden-text {
    display: none;
    font-size: 14px;
    font-family: $body;
    position: absolute;
    color: black;
  }
  .title {
    font-size: 30px;
    font-family: $felt;
    position: absolute;
    color: black;
    bottom: 109px;
    left: 49px;
  }
  .number {
    font-size: 24px;
    font-family: $felt;
    position: absolute;
    top: 200px;
  }
  &:hover {
    transition: 0.3s;
    .card {
      transform: scale(1.2);
    }
    .hidden-text {
      display: block;
    }
  }
}

.heading-center {
  text-align: center;
}

.card {
  border: 0;
  background: transparent;
}

