
<div class="index-background">
  <div class="container-index d-flex justify-content-around">
    <div class="button">
      <%= link_to '<<', root_path, class: "btn-back"%>
    </div>

    <div class="content">
      <p>Having completed a web development bootcamp with Le Wagon, I am skilled in HTML, CSS, Bootstrap, JavaScript, SQL, Ruby, and Rails.
      <br>
      I am a creative and driven individual with a BA Fashion Design degree from the University of Westminster. With 6 years previous experience in the fashion industry as a menswear designer, I pride myself on my eye for detail and design. I am skilled in Adobe Photoshop, Illustrator and InDesign, research, illustration, and multi product fashion design.
      <br>
      I am excited to combine my new skills with my previous experience and begin a new career in tech.
      </p>
      <%= link_to 'Github', 'https://github.com/abottenberg/', target: 'blank', class: 'link-social'  %>
      <br>
      <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/alex-bottenberg/', target: 'blank', class: 'link-social' %>
    </div>
  </div>
</div>

