
<div class="container">
  <div class="d-flex">
    <%= link_to '<<', root_path, class: "btn-back-contact"%>
    <p class="email">adbotte</p>
  </div>
  <p class="email">nberg@gma</p>
  <p class="email">il.com</p>
</div>
