
<div class="container">
  <%= link_to 'Back', root_path, class: "btn-back"%>
  <div class="container-main d-flex justify-content-center align-items-center">
    <div class="content">
      <p>adbottenberg@gmail.com</p>
    </div>
  </div>
</div>
