<div class="container">
  <div class="menu d-flex justify-content-end align-items-end">

    <div class="dropdown">
      <a class="btn-menu" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to 'Projects', projects_path, class: "dropdown-item"%>
        <%= link_to 'About', about_path, class: "dropdown-item"%>
        <%= link_to 'Contact', contact_path, class: "dropdown-item"%>
      </div>
    </div>
  </div>
</div>


