<div class="container">
  <h1>Alex Bottenberg</h1>
  <div class="menu">

  <div class="dropdown">
    <a class="btn-menu dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Projects</a>
      <a class="dropdown-item" href="#">About</a>
      <a class="dropdown-item" href="#">Contact</a>
    </div>
  </div>

</div>

