.btn-back {
  text-align: center;
  font-family: $felt;
  font-size: 200px;
  color: black;
  text-decoration: none;
  &:hover {
    color: $green;
    text-decoration: none;
    text-shadow: 2px 2px 11px rgba(0,0,0,0.3);
  }
}

.btn-back-contact {
  margin-right: 20px;
  text-align: center;
  font-family: $felt;
  font-size: 200px;
  color: black;
  text-decoration: none;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

.btn-menu {
  margin-top: -16px;
  margin-bottom: 32px;
  margin-right: 180px;
  text-align: center;
  font-family: $felt;
  font-size: 200px;
  color: black;
  text-decoration: none;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}

.link-social {
  font-family: $body;
  font-size: 18px;
  color: black;
  text-decoration: none;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}
